Package: pbx3cagi
Version: 1.0.0-3
Architecture: all
Maintainer: root <root@wheezy224.aelintra.com>
Installed-Size: 11008
Depends: asterisk
Section: network
Priority: extra
Description: pbx3cagi
 pbx3cagi switching Engine.
