Package: pbx3cagi
Version: 1.0.0-1
Architecture: amd64
Maintainer: root <root@wheezy224.aelintra.com>
Installed-Size: 881
Depends: asterisk
Section: network
Priority: extra
Description: pbx3cagi
 pbx3cagi switching Engine.
